/* Applying CSS to the html element  */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
    margin: 0;
    text-align :center;
    font-family: serif;
}
h1 {
  /* 1em = 16px = 100% */
  color: #66bfbf;
  font-size: 5.256rem;
    margin-top: 50px  auto 0 auto;
   font-family: 'sacramento',cursive;
 

}
h2{
  color: #66bfbf;
  font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    line-height: 5px;
    padding: 10px;
}

h3{
  color: #11999e;
     font-family:'Montserrat',sans-serif ;
}
p{
  line-height: 3;
}

hr{
  border: dotted lightblue 6px;
 border-bottom: none;
 width: 4%;
 margin: 100px auto 100px auto;
 
}


a{
  color: black;
  font-family:'Montserrat',sans-serif ;
  margin: 10px 20px ;
  text-decoration: none;

}
a:hover{
  color: royalblue;
}
a:active{
  color: gold;
}
.links{
  color: blue;
}

.underline{text-decoration:underline;
    
}
li
{
  float: left;
}
.intro{
  width: 30%;
  margin: auto;
}
.top-container{
    background-color:#E4F9F5 ;
    position: relative;
    padding-top: 200px;                                      /* Push every thing down from the top*/

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
 text-align: left;

}

.middle-container
{
  margin: 100px 0;

}

.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}


.children{
    position: relative;
    top: 30px;                    
    
    background-color: lightblue;
}
.top-cloud{
    /* position: absolute;
    right: 300px;
    top: 40px;   */
      width: 250px;
}

.bottom-cloud{
    /* position:absolute;
    left: 250px;
    bottom: 300px; */
    width: 250px;
}

.my-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: #66bfbf;
}


.skill-image1{
width: 200px;
height: 200px;
border-radius: 50%;
float: left;
margin-right:  30px ;
border-style: solid;
border-color:#66bfbf;
}

.skill-image2
{
  width: 200px;
	height: 200px;
	border-radius: 50%;
  float: right ;
  padding-left: 2px;
}


.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
 
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copy-right{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.contact-me{


margin-bottom: 50px;
/* margin-top: 34px; */
}
.audio{
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: powderblue;
}